#aiofiles
#asyncssh
beautifulsoup4
lxml       #Ssupport beautiful soup
curl-cffi
docker
fastapi
#jinja2
#ollama
#psycopg2-binary
#paramiko
pydantic
#python-dotenv
#pymilvus
python-docx
python-dateutil
python-multipart
#pyyaml
requests
scapy
typing
#rq
#rq-scheduler
#sqlalchemy
#tqdm
#transformers
#uvicorn
#uvicorn[standard]
#websockets
